
{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
<h2 class="counter" data-target="150">Services We Offering & We Delivering</h2>

<marquee class="counter" data-target="150">All Services @ Low Affordable Costs</marquee>




<ul class="list-group service-list">
    
        <li class="counter" data-target="100">Custom Software Development</li>
        <li class="counter" data-target="100">Enterprise Software Solutions</li>
        <li class="counter" data-target="100">Website Design & Development</li>
        <li class="counter" data-target="100">Web Application Development</li>
        <li class="counter" data-target="100">E-Commerce Website Development</li>
        <li class="counter" data-target="100">Mobile App Development (Android & iOS)</li>
        <li class="counter" data-target="100">UI/UX Design Services</li>
        <li class="counter" data-target="100">API Development & Integration</li>
        <li class="counter" data-target="100">Database Design & Management</li>
        <li class="counter" data-target="100">Cloud Computing Solutions</li>
<li class="counter" data-target="100">Custom Software Development</li>
<li class="counter" data-target="100">Enterprise Software Solutions</li>
<li class="counter" data-target="100">Website Design & Development</li>
<li class="counter" data-target="100">Web Application Development</li>
<li class="counter" data-target="100">E-Commerce Website Development</li>
<li class="counter" data-target="100">Mobile App Development (Android & iOS)</li>
<li class="counter" data-target="100">UI/UX Design Services</li>
<li class="counter" data-target="100">API Development & Integration</li>
<li class="counter" data-target="100">Database Design & Management</li>
<li class="counter" data-target="100">Cloud Computing Solutions</li>
<li class="counter" data-target="100">DevOps & CI/CD Services</li>
<li class="counter" data-target="100">Cyber Security Solutions</li>
<li class="counter" data-target="100">Network Infrastructure Setup</li>
<li class="counter" data-target="100">Server Installation & Maintenance</li>
<li class="counter" data-target="100">IT Consulting Services</li>
<li class="counter" data-target="100">Software Testing & Quality Assurance</li>
<li class="counter" data-target="100">ERP Development & Implementation</li>
<li class="counter" data-target="100">CRM Development & Support</li>
<li class="counter" data-target="100">AI & Machine Learning Solutions</li>
<li class="counter" data-target="100">Data Analytics & Business Intelligence</li>
<li class="counter" data-target="100">Digital Transformation Services</li>
<li class="counter" data-target="100">IoT Solutions Development</li>
<li class="counter" data-target="100">Blockchain Development</li>
<li class="counter" data-target="100">SaaS Product Development</li>
<li class="counter" data-target="100">Software Maintenance & Support</li>

<li class="counter" data-target="100">Digital Marketing Services</li>
<li class="counter" data-target="100">Search Engine Optimization (SEO)</li>
<li class="counter" data-target="100">Social Media Marketing (SMM)</li>
<li class="counter" data-target="100">Google Ads & PPC Campaigns</li>
<li class="counter" data-target="100">Content Writing Services</li>
<li class="counter" data-target="100">Graphic Design Services</li>
<li class="counter" data-target="100">Logo & Brand Identity Design</li>
<li class="counter" data-target="100">Video Editing & Motion Graphics</li>
<li class="counter" data-target="100">Business Process Outsourcing (BPO)</li>
<li class="counter" data-target="100">Data Entry & Data Processing</li>
<li class="counter" data-target="100">Virtual Assistant Services</li>
<li class="counter" data-target="100">Customer Support Services</li>
<li class="counter" data-target="100">Recruitment & Staffing Solutions</li>
<li class="counter" data-target="100">HR Consulting Services</li>
<li class="counter" data-target="100">Accounting & Bookkeeping Services</li>
<li class="counter" data-target="100">GST Filing & Tax Consultancy</li>
<li class="counter" data-target="100">Business Registration Services</li>
<li class="counter" data-target="100">Project Management Consulting</li>
<li class="counter" data-target="100">Documentation & Compliance Services</li>
<li class="counter" data-target="100">Market Research & Survey Services</li>

<li class="counter" data-target="100">Online IT Training Programs</li>
<li class="counter" data-target="100">Online Non-IT Training Programs</li>
<li class="counter" data-target="100">Python Programming Training</li>
<li class="counter" data-target="100">Java Full Stack Development Training</li>
<li class="counter" data-target="100">MERN Stack Training</li>
<li class="counter" data-target="100">Data Science Training</li>
<li class="counter" data-target="100">Artificial Intelligence Training</li>
<li class="counter" data-target="100">Machine Learning Training</li>
<li class="counter" data-target="100">Cyber Security Training</li>
<li class="counter" data-target="100">Cloud Computing Training</li>
<li class="counter" data-target="100">DevOps Training</li>
<li class="counter" data-target="100">Web Development Training</li>
<li class="counter" data-target="100">Mobile App Development Training</li>
<li class="counter" data-target="100">Digital Marketing Training</li>
<li class="counter" data-target="100">Graphic Design Training</li>
<li class="counter" data-target="100">Spoken English Training</li>
<li class="counter" data-target="100">Personality Development Training</li>
<li class="counter" data-target="100">Aptitude & Reasoning Training</li>
<li class="counter" data-target="100">Interview Preparation Classes</li>
<li class="counter" data-target="100">Corporate Training Programs</li>
<li class="counter" data-target="100">Campus Recruitment Training</li>
<li class="counter" data-target="100">Internship Programs</li>
<li class="counter" data-target="100">Placement Assistance Services</li>
<li class="counter" data-target="100">Live Online Classes & Workshops</li>
<li class="counter" data-target="100">Professional Certification Courses</li>
    
</ul>
</div>
{% endblock %}
